
.darkmode{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 70px;
    height: 35px;
    border-radius: 30px;


}

.sunset{ /*teste*/
    padding-left: 92%;
}

.light{
    background: #ffffff;
}

.light .darkmode{
    background: linear-gradient(145deg, #e1e1e1, #fff);
    box-shadow: 3px 3px 4px #e6e6e6,
               -3px -3px 4px #ffffff;
}

.light .darkmode .bxs-sun{
    color: rgb(255, 255, 255);
}

.light .darkmode .bxs-moon{
    color: rgb(20, 20, 20);
}

.darkmode i {
    width: 50%;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    z-index: 1;
}

.light .sunset .darkmode .selector{
    position: absolute;
    width: 45px;
    height: 45px;
    margin: 7.5px;
    border-radius: 30px;
    
    
}

.light .sunset .darkmode .selector{
    color: rgb(20, 20, 20);
    transition: 3s ease-in;
}

input{
    display: none;
}


/*__________________________Dark_Mode_______________________*/


.dark{
    background: rgb(20, 20, 20);
}

.dark .darkmode{
    background: rgb(20, 20, 20);
    box-shadow: 3px 3px 3px #0e131b,
               -3px -3px 3px #1c2739;
}

.dark .darkmode .bx-sun{
    color: rgb(255, 255, 255);
}

.dark .darkmode .bxs-moon{
    color: rgb(20, 20, 20);
}

.darkmode i {
    width: 50%;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    z-index: 1;
}

.dark .darkmode .selector{
    position: absolute;
    width: 45px;
    height: 45px;
    margin: 7.5px;
    border-radius: 30px;
    
    
}

.light .darkmode .selector{
    color: rgb(255, 255, 255);
    transform: translateX(60px);
}


/*__________________________________________________________*/

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 46% 0%;
}

.nome{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico';
    font-size: 30px;

}

.fsd{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(92, 91, 91);
}
.nome span{
    color: rgb(59, 52, 53);
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.github{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.github:hover{
    transform: scale(1.5);
    transition: 300ms;
}

.linkedin{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.linkedin:hover{
    transform: scale(1.5);
    transition: 300ms;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn{
    
    width: 100px;
    height: 50px;
    padding: auto;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: inset 0 0 0.5em 0 #5e0941, 0 0 0.5em 0 rgb(255, 0, 0);
}

.btn:hover{
    /*box-shadow: rgb(49, 46, 46) 0 5px 0 0;*/
    transform: scale(1.5);
    transition: 300ms;
    color: #ffffff;;
    
}